/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        greater: greater {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_EQUAL &kp GREATER_THAN>;
            label = "GREATER";
        };

        lessthan: lessthan {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp KP_EQUAL>;
            label = "LESSTHAN";
        };

        selectword: selectword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_ARROW)>;
            label = "SELECTWORD";
        };

        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp A &kp L &kp P &kp E &kp R &kp Y &kp A &kp Y &kp L &kp A &kp C &kp I &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };

        email2: email2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp T &kp H &kp E &kp DOT &kp M &kp I &kp K &kp H &kp A &kp I &kp L &kp DOT &kp T &kp A &kp L &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                     &kp N6  &kp N7  &kp N8           &kp N9   &kp N0    &kp LA(BACKSPACE)
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                                      &kp Y   &kp U   &kp I            &kp O    &kp P     &kp ENTER
&kp LCTRL  &kp A   &kp S   &kp D     &kp F     &kp G                                      &kp H   &kp J   &kp K            &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp ENTER        &kp LS(LG(LEFT))  &kp N   &kp M   &kp COMMA        &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                           &kp LALT  &kp LGUI  &mo 1   &kp BACKSPACE    &kp SPACE         &mo 2   &mo 3   &kp RIGHT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&kp EQUAL      &kp EXCL                &kp AT                   &kp HASH                 &kp DOLLAR       &kp PRCNT                                             &kp CARET  &kp AMPS  &kp STAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&kp LG(GRAVE)  &kp LG(N)               &kp LA(LG(LEFT_ARROW))   &kp LA(LG(RIGHT_ARROW))  &kp LC(LS(TAB))  &kp LC(TAB)                                           &trans     &trans    &trans    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE
&kp KP_PLUS    &kp LCTRL               &kp LEFT_ALT             &kp LEFT_GUI             &kp RIGHT_SHIFT  &kp LG(Z)                                             &trans     &trans    &trans    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE
&kp F3         &kp LC(LA(LEFT_ARROW))  &kp RA(RC(RIGHT_ARROW))  &kp F10                  &kp F11          &kp F12      &kp LG(LS(NUMBER_4))    &kp RIGHT_BRACE  &trans     &trans    &trans    &kp LESS_THAN         &kp GREATER_THAN       &kp RIGHT_SHIFT
                                                                &kp LG(LA(F))            &kp LG(LA(C))    &trans       &trans                  &trans           &trans     &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&kp ESC  &trans  &kp KP_DOT       &kp KP_NUMBER_0  &kp KP_SUBTRACT  &kp KP_PLUS                                                     &kp LESS_THAN           &kp GREATER_THAN    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE
&trans   &trans  &kp KP_MULTIPLY  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9                                                 &greater                &kp LA(LEFT_ARROW)  &kp UP_ARROW          &kp RA(RIGHT_ARROW)    &trans          &kp RG(PLUS)
&trans   &trans  &kp KP_DIVIDE    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6                                                 &kp LS(LA(LEFT_ARROW))  &kp LEFT            &kp DOWN              &kp RIGHT              &trans          &kp RG(KP_MINUS)
&trans   &trans  &trans           &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp LC(LA(LG(LEFT)))    &kp RA(RC(RG(RIGHT)))  &kp F7                  &kp F8              &kp F9                &kp LBKT               &kp RBKT        &kp BSLH
                                  &kp LEFT_ALT     &kp LEFT_GUI     &trans           &kp BACKSPACE           &kp ENTER              &trans                  &kp LA(LG(LEFT))    &kp RA(RG(RIGHT))
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &email  &email2                     &kp LC(LG(Q))
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &kp LC(LG(LA(LEFT_ARROW)))  &kp RG(RC(RA(RIGHT_ARROW)))
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans                      &kp PAGE_UP
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans                      &kp PAGE_DOWN
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
